/* Estilos Reutilizados */
@import url("components.css");
/* Estilos específicos de páginas */
@import url("pages/register.css");
@import url("pages/login.css");
@import url("pages/home.css");
@import url("partials/calendar.css");
@import url("partials/footer.css");
@import url("partials/header.css");
@import url("partials/show-modal.css");
@import url("pages/index.css");
@import url("pages/profile.css");

:root {
    --auth-font-color: rgb(99 114 138);
    --unifio-color-blue: #004998;
    --unifio-color-orange: #ED8A26;
    --unifio-color-white: #FFFFFF;
    --background-color: rgb(249, 250, 251);
}

body {
    background: var(--background-color);
}